
table{
	width: 100%;
	text-align: center;
}

.thumbnailColumn{
	display: block;
	height: 15vh;
	width: 15vw;
}

.originalPrice{
	text-decoration: line-through;
}

.saleSpan{
	font-weight: bold;
	color: red;
}